<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Tienda-carrito

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /Tienda-carrito/index.php
</IfModule>